// Z-Indicies

// Libs

// Imports
@import "colors";
@import "buttons";

// Globals
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: $link-blue;

  &:visited {
    color: #1678c2;
  }
}

*:focus {
  outline: none;
}

// Constants

// Layout
.view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-spacer {
  flex: 1;
}

.top-nav {
  height: 50px;
  background-color: lighten(#0c1724, 15%);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    margin-left: 25px;
    color: white;
  }

  h4 {
    margin-right: 25px;
    color: white;
  }

  i.heart {
    font-style: normal;
    color: #F50057;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.top-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

// Components
.text-editor {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;

  #main-text-editor {
    height: 200px !important;
    width: 100% !important;
  }
}

.query-result {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .action-button {
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }

}

.eth-auth {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-display {
    padding: 5px;
    background-color: lime;
  }
}
