// Z-Indicies

// Libs

// Imports
@import "colors";
@import "buttons";

// Globals
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: $link-blue;

  &:visited {
    color: #1678c2;
  }
}

*:focus {
  outline: none;
}

// Constants

// Layout
.view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-spacer {
  flex: 1;
}

.top-nav {
  height: 50px;
  background-color: lighten(#0c1724, 15%);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    margin-left: 25px;
    color: white;
  }

  h4 {
    margin-right: 25px;
    color: white;
  }

  i.heart {
    font-style: normal;
    color: #F50057;
  }
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.top-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

// Components
.text-editor {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;

  #main-text-editor {
    height: 200px !important;
    width: 100% !important;
  }
}

.query-result {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(to right, #25c481, #25b7c4);
  background: linear-gradient(to right, #E2E5EC, lighten(#E2E5EC, 10%));
  overflow: scroll;

  table {
    border: none;
  }

  thead {
    background-color: rgba(255, 255, 255, 0.5);

    th {
      color: black;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;

      &:not(:last-child) {
        border-right: 2px solid black;
      }
    }

  }

  tbody {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;

    tr {
      // display: flex;
      // flex-direction: row;
      // justify-content: space-between;
      // align-items: center;

      &:nth-child(even) {
        background-color: white;
      }

      td {
        font-family: monospace;
        text-align: center;
        vertical-align: middle;
        color: black;
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;

        &:not(:last-child) {
          border-right: 2px solid black;
        }

      }
    }
  }
}

.action-buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .action-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }

}

.eth-auth {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-display {
    padding: 5px;
    background-color: lime;
  }
}
